<head>
  <title>Mentor Mentee Match</title>
  <meta charset="UTF-8">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="clearfix">
    <h1>Mentor Mentee Match</h1>
  </header>
  <main>
    <h2>A platform that helps match mentor with start-up</h2>
  </main>
  <footer>
    <p class="foot">&copy; 2018 MMM</p>
  </footer>
