<!DOCTYPE html>
<head>
  <title>Mentor Mentee Match</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" type="text/css" href="static/login.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="login">
    <div class="heading">
      <h2>Login</h2>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Email" name ='username' required>
            </div>

          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" name = 'password' required>
          </div>

          <p> Do not have an account? Sign up here</p>

          <div>
            <button type="submit" class="btn">Login</button>
          </div>
         </form>
   		</div>
   </div>
</body>
