<!DOCTYPE html>
<head>
  <title>Mentor Mentee Match</title>
  <meta charset="UTF-8">
  <meta name="author" content="Linh, Ian, Nell, Katie">
  <meta name="description" content="FOOOOOOOD!">
  <link rel="stylesheet" type="text/css" href="static/login.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="signup">
    <div class="heading">
      <h2>Signup</h2>
        <form action="">
          <div class="">
            <p>Please fill in this form to create an account.</p>
            <hr>

            <div>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
            </div>

            <div>
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>

            <div>
              <label for="psw-repeat"><b>Repeat Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            </div>

            <div>
              <label><b>Industry</b></label>
              <div>
                <input type="checkbox" />
                <label>FinTech</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>EdTech</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>ArgiTech</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Consumer Tech</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Other</label>
              </div>
            </div>

            <div>
              <label><b>Taget Market</b></label>
              <div>
                <input type="checkbox" />
                <label>US</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Vietnam</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Global</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Other</label>
              </div>
            </div>

            <div>
              <label><b>Need advice with</b></label>
              <div>
                <input type="checkbox" />
                <label>Pitching</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Business Model</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>MVP Roadmap</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Other</label>
              </div>
            </div>

            <div>
              <label><b>One sentence pitch</b></label>
              <input type="text" required>
            </div>

            <div>
              <label><b>Commitment</b></label>
              <div>
                <input type="checkbox" />
                <label>I am working full time on this start-up</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>I am working part time on this start-up</label>
              </div>
            </div>

            <div>
              <label><b>Experience</b></label>
              <div>
                <input type="checkbox" />
                <label>I have built/ helped built a start-up</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>I have never involved in a start-up</label>
              </div>
              <div>
                <input type="checkbox" />
                <label>Other</label>
              </div>
            </div>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
              <button type="button" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
            </div>
          </div>
        </form>
   		</div>
   </div>
</body>
